---
layout: default
---

<article class="post">

  <p class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%-d %B %Y" }}
    </time>
    {% if page.tags %}
      &nbsp;◈&nbsp;
      {% for raw_tag in page.tags %}
        {%- assign tag = raw_tag | slugify -%}
        <a href="{{ '/tag/' | append: tag | append: '/' | relative_url }}">{{ raw_tag }}</a>{% unless forloop.last %} | {% endunless %}
      {% endfor %}
    {% endif %}
    {% assign akey = page.author %}
    {% if akey %}
      {% assign ainfo = site.data.authors[akey] %}
      &nbsp;◈&nbsp; By <a href="/author/{{ akey }}/">{{ ainfo.name }}</a>
    {% endif %}
  </p>

  {% if page.banner %}
    <figure class="post-banner">
      <img src="{{ page.banner | relative_url }}" alt="{{ page.title }} banner">
    </figure>
  {% endif %}


  {{ content }}

</article>

<hr>

<div id="comments" style="margin-top:2rem">
  <script src="https://giscus.app/client.js"
    data-repo="tabete-community/kotatsu"
    data-repo-id="R_kgDOOfjIxg"
    data-category="General"
    data-category-id="DIC_kwDOOfjIxs4Cqixf"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="1"
    data-input-position="bottom"
    data-theme="light"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div>
